<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог кофе</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header-top">
            <div class="menu-item"> <a class="menu-item" href="/">Logo</a></div>
            <nav class="nav">
                <a class="menu-item" href="{% url 'product_list' %}">Кофе</a>
            </nav>
            <div class="icons">
                <form>
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="update" value="False">
                    <button class="icon-btn"><img src="{% static 'img/heart.png' %}" alt="Избранное" width="40"></button>
                </form>
                <form action="{% url 'cart:cart_detail' %}">
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="update" value="False">
                    <button class="icon-btn"><img src="{% static 'img/cart.png' %}" alt="Корзина" width="40"></button>
                </form>
                <form>
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="update" value="False">
                    <button class="icon-btn"><img src="{% static 'img/user.png' %}" alt="Профиль" width="40">
                </form>
            </div>
        </div>
    </header>

    <!-- Banner -->
    <section class="banner">
        <div class="filters">
            <button>Фильтры</button>
            <button>Сортировка</button>
        </div>
    </section>

    <!-- Каталог товаров -->
    <main>
        <div class="product-grid">
            {% for product in products %}
            <div class="product-card">
                <img src="{% static 'img/coffee0.jpg' %}" alt="Изображение кофе">
                <div class="card-info">
                    <h2>{{ product.name }}</h2>
                    <p class="price">{{ product.price }} ₽</p>
                    <div class="card-actions">
                        <form action>
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="update" value="False">
                            <button class="icon-btn"><img src="{% static 'img/heart.png' %}" alt="Like" width="30"></button>
                        </form>
                        <form action="{% url 'cart:cart_add' product.product_id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="update" value="False">
                            <button type="submit" class="icon-btn"><img src="{% static 'img/cart.png' %}" alt="В корзину" width="30"></button>
                        </form>
                        <form>
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="update" value="False">
                            <button type="submit" class="icon-btn"><img src="{% static 'img/bean.png' %}" alt="Bean" width="30" height="30"></button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer-nav">
            <div class="logo">Logo</div>
            <div class="footer-links">
                <div>
                    <strong>Контакты</strong><br>
                    .....<br>
                    <a href="#"><img src="{% static 'img/send.png' %}" alt="VK" width="25"></a>
                    <a href="#"><img src="{% static 'img/insta.png' %}" alt="Instagram" width="25"></a>
                    <a href="#"><img src="{% static 'img/mail.png' %}" alt="Telegram" width="25"></a>
                </div>
                <div>
                    <strong>О компании</strong><br>
                    .....
                </div>
                <div>
                    <strong>Помощь</strong><br>
                    .....
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
