<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoffeeN - Заказы</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    <h1>Список всех заказов:</h1>
    <table>
        <tr>
            <th>Номер заказа</th>
            <th>Дата заказа</th>
            <th>Город</th>
            <th>Покупатель</th>
            <th>Сумма</th>
        </tr>
        {% for order in list_of_all_orders %}
        <tr>
            <td>
                <a href="{% url 'order-detail' order.id %}">{{order.id }}</a>
            </td>
            <td>{{ order.created }}</td>
            <td>{{ order.city }}</td>
            <td>{{ order.first_name }}</td>
            <td>{{ order.paid }}</td>
        </tr>
        {% endfor %}
        <form action="{% url 'search' %}" method="GET">
            {% csrf_token %}
            <input name="q" type="text" placeholder="Введите имя или фамилию...">
        </form>
    </table>
    <a href="{% url 'cart:cart_detail' %}">Корзина</a>
    <p><a href="/">Вернуться на главную</a></p>
</body>
</html>