<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CoffeeN - Состав заказа</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% if order.user == request.user %}
    <!-- <h1>Заказ № {{ order.id }}</h1> -->
    <table class="order-info">
      <tr>
        <th>Номер заказа:</th>
        <td>1023{{ order.id }}</td>
      </tr>
      <tr>
        <th>Дата заказа:</th>
        <td>{{ order.created|date:"d-m-Y" }}</td>
      </tr>
      <tr>
        <th>Статус:</th>
        <td>{{ order.paid|yesno:"Оплачен,Не оплачен" }}</td>
      </tr>
      <tr>
        <th>Цена заказа:</th>
        <td>{{ order.total_amount }}</td>
      </tr>
      <tr>
        <th>Имя покупателя:</th>
        <td>{{ order.first_name }}</td>
      </tr>
      <tr>
        <th>Фамилия покупателя:</th>
        <td>{{ order.last_name }}</td>
      </tr>
      <tr>
        <th>Дата последнего обновления:</th>
        <td>{{ order.updated|date:"d-m-Y" }}</td>
      </tr>
      <tr>
        <th>Указанная почта:</th>
        <td>{{ order.email }}</td>
      </tr>
      <tr>
        <th>Город:</th>
        <td>{{ order.city }}</td>
      </tr>
    </table>
    <h1>Товары в заказе</h1>
    <table>
      <tr>
        <th>Номер позиции заказа</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>Товар</th>
        <th>Дата создания</th>
        <th>Дата последнего обновления</th>
      </tr>
      {% for order_item in order.order_items.all %}
      <tr>
        <td>{{ order_item.order_item_id }}</td>
        <td>{{ order_item.price }}</td>
        <td>{{ order_item.quantity }}</td>
        <td>{{ order_item.product }}</td>
        <td>{{ order_item.created_at|date:"d-m-Y" }}</td>
        <td>{{ order_item.updated_at|date:"d-m-Y" }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
    <a href="/orders">Назад</a>
  </body>
</html>
